<%= form_for :school, url: school_path(@school), method: :patch do |f| %>
  <table>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :curriculum %></td>
    <td><%= f.text_field :curriculum %></td>
  </tr>
  <tr>

    <td><%= f.submit "Update"%></td>
  </tr>
 </table>

<% end %>

