<table>
 <tr>
    <th>Name</th>
    <th>curriculum</th>
  </tr>

  <% @schools.each do |school| %>
    <tr>
      <td><%= school.name %></td>
      <td><%= school.curriculum %></td>
      <td><%= link_to 'Show', school_path(school) %></td>
      <td><%= link_to 'Edit', edit_school_path(school) %></td>
      <td><%= link_to 'Destroy', school_path(school),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              
    </tr>
  <% end %>
</table>

